@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, p {
  margin: 0;
}

.content-container {

  height: 100vh;
  overflow: auto;


  //overflow: hidden;

  .flex-container {
    display: flex;
    max-height: 100%;

    .column {
      height: 100%;

    }

    .content {
      flex-grow: 1;
      background-color: paleturquoise;
    }
  }

}



